// BREAKPOINTS estilo Bootstrap

$sm: 576px; // Teléfonos grandes
$md: 768px; // Tablets
$lg: 992px; // Laptops pequeñas
$xl: 1200px; // Desktop
$xxl: 1400px; // Desktop grande

// BREAKPOINTS personales
$uw: 1600px; // Ultrawide
